.card-details {
    border-radius: 0px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius: 8px;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-Family: monospace;
    color: black;
    box-sizing: border-box;
    background-color:#ffffff;
    font-size: large;
    background-color: rgb(37, 66, 132);
    display: flex;
    justify-content: space-evenly;
    background-color: #1E3A5F;
    background-color: #f8f9f6;
    padding-bottom: 10px;
    background-color: #1a7d4b;
    color: white;
    border-bottom:2px solid #454647;


  }
  .pre{
    white-space: pre;
    font-size: 13px;
  }
.search-bar{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pick{
  
  width: 80px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  
}
.search-button, .search-link {
  background-color: #007bff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-top: 10px;
}


.search-button svg, .search-link svg {
  fill: #291f78; /* Default icon color */
  width: 26px;
  height: 26px;
}

.search-button:hover svg, .search-link:hover svg {
  fill: #1a7d4b; /* Icon color on hover */
}
