html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #333; /* Dark grey for contrast */
  
  /* Background settings */
  background-image: url('../public/background3.png'); /* Background image */
  background-size: contain; /* Cover the whole viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Ensure the image doesn’t repeat */
  
  /* Fallback color in case the image doesn't load */
  background-color: #f8f4f4;
  
  /* Set full height and width */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 768px) {
  .app {
      max-width: 600px; /* Fixed width */
      margin: 0 auto;   /* Center the content */
      
      
  }
  body{
    max-width: 600px;
    margin: 0 auto;   /* Center the content */
    background-image: none;
  }

}
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Individual form styling */
.auth-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}


